@charset "UTF-8";
/* Archivo */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);
@font-face {
  font-family: "Archivo";
  src: url("../../source/font/Archivo-VariableFont_wdth,wght.ttf");
}
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.75;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.75;
  font-family: "Archivo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  font-style: normal;
}

li {
  list-style: none;
}

.df {
  display: flex;
}

.inner {
  width: 100%;
  height: 100%;
  max-width: 1730px;
  margin: auto;
}

html {
  text-transform: uppercase;
}

header {
  width: 100%;
}
header .header_wrap {
  position: relative;
  width: 100%;
  height: 110px;
  font-size: 19px;
  font-weight: 500;
  color: #000000;
  align-items: center;
  justify-content: space-between;
}
header .header_wrap .logo {
  width: 180px;
  height: 20px;
  background: url(../source/image/logo.svg) center center/cover;
}
header .header_wrap .contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .header_wrap .nav ul {
  width: 542px;
  justify-content: flex-end;
  gap: 14.2857142857%;
}
header .header_wrap .nav ul li {
  height: 30px;
  text-align: right;
}
header .header_wrap .nav ul li:hover:after {
  content: "";
  width: 100px;
  height: 3px;
  background: #000000;
}

main {
  width: 100%;
}
main .dtbtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 70px;
  height: 70px;
  z-index: 999;
  background: url(../source/image/3d-c.png) center center/contain no-repeat;
}
main .section1 {
  width: 100%;
  height: 970px;
  position: relative;
  overflow: hidden;
}
main .section1 .text_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1140px;
  height: auto;
  margin: auto;
  z-index: 10;
  padding-bottom: 190px;
}
main .section1 .text_wrap .text {
  height: 88px;
  line-height: 88px;
  gap: 30px;
  margin-top: 20px;
}
main .section1 .text_wrap .text .big {
  font-size: 80px;
  font-weight: 400;
  color: #000000;
}
main .section1 .text_wrap .text .small {
  font-size: 20px;
  font-weight: 400;
  color: #828282;
}
main .section1 .text_wrap .text:nth-child(2) {
  justify-content: flex-end;
}
main .section1 .button {
  position: absolute;
  width: 300px;
  height: 80px;
  border: 1px solid #000000;
  border-radius: 50%;
  text-align: center;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  margin-bottom: 160px;
}
main .section1 .button a {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 80px;
}
main .section1 .decowrap {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .section1 .decowrap .deco {
  width: 285px;
  height: 285px;
  position: absolute;
}
main .section1 .decowrap .num1 {
  background: url(../source/image/bg_visual_round_y.png) center center/contain no-repeat;
  top: 320px;
  left: 0;
  z-index: 1;
}
main .section1 .decowrap .num2 {
  background: url(../source/image/bg_visual_bland_op.png) center center/contain no-repeat;
  top: 130px;
  left: 150px;
  z-index: 2;
}
main .section1 .decowrap .num3 {
  background: url(../source/image/bg_visual_bland.png) center center/contain no-repeat;
  top: -20px;
  left: 290px;
  z-index: 3;
}
main .section1 .decowrap .num4 {
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.5) 50%, rgb(255, 255, 255) 100%), url(../source/image/bg_visual_noise.png) center center/contain no-repeat;
  top: 580px;
  left: 30%;
  z-index: 3;
  animation: upup 3s infinite;
}
@keyframes upup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main .section1 .decowrap .num5 {
  background: url(../source/image/bg_visual_round_dot.png) center center/contain no-repeat;
  top: 220px;
  left: 70%;
  z-index: 3;
  animation: roro 10s infinite;
}
@keyframes roro {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
main .section1 .decowrap .num6 {
  background: url(../source/image/bg_visual_round_mov_y.png) center center/contain no-repeat;
  top: 380px;
  left: 80%;
  z-index: 3;
}
main .section2 .player {
  padding-top: 56.25%;
  position: relative;
}
main .section2 .player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main .section3 {
  width: 100%;
  padding-top: 140px;
}
main .section3 > p {
  font-size: 80px;
  font-weight: 400;
  line-height: 1.1;
  color: #000000;
}
main .section3 .section3_bottom_wrap {
  margin-top: 80px;
  width: 100%;
  justify-content: space-between;
}
main .section3 .section3_bottom_wrap .img {
  width: 836px;
  height: 447px;
  overflow: hidden;
  background: url(../source/image/Plan_gif.gif) center center/contain no-repeat;
}
main .section3 .section3_bottom_wrap .text_wrap {
  width: 600px;
  margin-top: 70px;
}
main .section3 .section3_bottom_wrap .text_wrap p {
  text-align: justify;
  line-height: 1.9;
  font-size: 14px;
  font-weight: 500;
  color: #4f4f4f;
}
main .section3 .section3_bottom_wrap .veiw_button {
  margin-top: 30px;
  gap: 10px;
}
main .section3 .section3_bottom_wrap .veiw_button p {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}
main .section3 .section3_bottom_wrap .veiw_button span {
  width: 25px;
  height: 38px;
  background: url(../source/image/btn_next.png) center center/contain no-repeat;
}
main .section3 .section3_text_wrap {
  overflow: hidden;
  margin-top: 70px;
}
main .section3 .section3_text_wrap .top p:nth-child(even) {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
main .section3 .section3_text_wrap .bottom {
  margin-top: 20px;
}
main .section3 .section3_text_wrap .bottom p:nth-child(even) {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
main .section3 .section3_text_wrap p {
  margin-left: 80px;
  width: 100%;
  height: 88px;
  font-size: 80px;
  font-weight: 400;
  line-height: 88px;
}
main .section4 {
  width: 100%;
  height: 1080px;
  position: relative;
  /* 삭제할부분 */
  margin-top: 50px;
  background: url(../source/image/last.jpg) center center/contain no-repeat;
  /*  */
}
main .section4 p {
  font-size: 80px;
  font-weight: 400;
  line-height: 88px;
  position: absolute;
}
main .section4 p:nth-child(1) {
  top: 80px;
}
main .section4 p:nth-child(2) {
  font-size: 320px;
  font-weight: 400;
  color: #d9d9d9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .section4 p:nth-child(3) {
  bottom: 90px;
  right: 0;
}
main .section4 .fix {
  position: absolute;
  width: 250px;
  height: 166px;
  top: 120px;
  right: 40px;
  background: url(../source/image/bg_ask.png) center center/contain no-repeat;
  transform: rotate(345deg);
  box-shadow: 9px 9px #e6e6e6;
}
main .section4 .fix:hover {
  transform: rotate(0);
  transition: all 1s;
}
main .section4 .fix p {
  font-size: 32px;
  line-height: 1.1;
  padding: 0 0 0 20px;
  text-transform: none;
}
main .section4 .fix p .fix_btn {
  width: 25px;
  height: 10px;
}

footer {
  width: 100%;
  height: 224px;
  padding: 40px 0;
}
footer .footer_top {
  justify-content: space-between;
}
footer .footer_top .left {
  gap: 70px;
}
footer .footer_top .left .contents p:nth-child(1) {
  font-size: 18px;
  font-weight: 600;
  color: #aeaeb2;
  text-transform: none;
}
footer .footer_top .left .contents p:nth-child(2) {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
}
footer .footer_top .left .verbar {
  width: 1px;
  height: 63px;
  background: #e0e0e0;
}
footer .footer_top .company {
  position: relative;
  width: 156px;
  height: 39px;
  background: #fff;
  border: 2px solid #000000;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  align-items: center;
  gap: 10px;
  justify-content: center;
  line-height: 39px;
}
footer .footer_top .company::after {
  position: absolute;
  content: "";
  width: 156px;
  height: 39px;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  top: 1.5px;
  left: 2px;
}
footer .footer_top .company:hover img {
  background: url(../source/image/ico_introduction_active.png) center center/contain no-repeat;
}
footer .footer_top .company img {
  width: 24px;
  height: 21px;
  background: url(../source/image/ico_introduction.png) center center/contain no-repeat;
}
footer .footer_bottom .top {
  margin-top: 25px;
  width: 100%;
  height: 28px;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
footer .footer_bottom .top li {
  width: 28px;
  height: 28px;
  line-height: 28px;
  color: #585858;
  font-size: 28px;
}
footer .footer_bottom .top li:nth-child(1) {
  font-size: 23px;
  line-height: 23px;
}
footer .footer_bottom .top li:nth-child(3) {
  background: url(../source/image/behance.svg) center center/contain no-repeat;
}
footer .footer_bottom .top li:nth-child(4) {
  background: url(../source/image/youtube.svg) center center/contain no-repeat;
}
footer .footer_bottom .bottom {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #bdbdbd;
  text-align: right;
  text-transform: none;
}/*# sourceMappingURL=index.css.map */